body {
	font-family: 'VT323', cursive;
}

h1 {
	font-size: 3em;
	text-align: center;
}

#playground {
	border: 5px solid black;
	left: 50%;
	margin-left: -300px;
}

#splash {
	position: absolute;
	width: 600px;
	height: 400px;
	background-color: #EEEEEE;
}

#splashInner {
	width: 500px;
	height: 300px;
	top: 40%;
	left: 50%;
	position: absolute;
	margin:-150px 0 0 -250px;
	display: table;
}

.splashContent {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.splashButton {
	background-color: #cccccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #cccccc;
	display: inline-block;
	color: #000000;
	font-family: 'VT323', cursive;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 23px;
	text-decoration: none;
}

#start {
	padding: 12px 46px;
	font-size: 30px;
}

.splashButton:hover {
	background-color: #bbbbbb;
	cursor: pointer;
}

.splashButton:active {
	position: relative;
	top: 1px;
}

#lifeHUD {
	top: 45%;
	left: 50%;
	position: absolute;
	margin:-50px 0 0 -280px;
	display: table;
}

#scoreHUD {
	top: 45%;
	right: 10%;
	position: absolute;
	margin:-50px 0 0 -280px;
	display: table;
}

#bombHUD {
	top: 45%;
	left: 85%;
	position: absolute;
	margin:-50px 0 0 -280px;
	display: table;
}

#announcerHUD {
	top: 90%;
	left: 84%;
	position: absolute;
	margin:-50px 0 0 -280px;
	display: table;
	text-align: center;
}

#left {
	position: absolute;
	width: 225px;
	left: 0px;
}

#right {
	position: absolute;
	width: 225px;
	right: 0px;
}
